.vs

# Google API Client secret
creds__.json

# python virtual environment/compiled files
venv/
env/

# Intellij/PyCharm config
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# sqlite file
*.sqlite
